<div class="register-container">
  <div class="register-card">
    <img src="assets/images/vibora-logo.png" alt="Vibora Logo" class="app-logo">

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      
      <div class="form-group">
        <label for="name">Nome</label>
        <input 
          id="name" 
          type="text" 
          formControlName="name" 
          placeholder="Seu Nome"
        >
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input 
          id="email" 
          type="email" 
          formControlName="email" 
          placeholder="seu@email.com"
        >
      </div>

      <div class="form-group">
        <label for="password">Senha</label>
        <input 
          id="password" 
          type="password" 
          formControlName="password" 
          placeholder="******"
        >
      </div>



      <button type="submit" [disabled]="registerForm.invalid">
        Registrar
      </button>

      <p class="login-link">
        Já tem conta? <a routerLink="/login">Faça login</a>
      </p>
    </form>
  </div>
</div>
