@use 'assets/styles/variables' as *;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-main;
  background-color: $color-bg-main;
  color: $color-text;
  overflow-x: hidden;
}

button, input, textarea {
  font-family: $font-main;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: $color-bg-main;
}
::-webkit-scrollbar-thumb {
  background: $color-bg-surface;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: $color-secondary;
}